body,
html {
  overflow-x: hidden;
  margin: 0;
}

.center-div {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-family: monospace;
}

.nav-item {
  font-weight: bold;
  color: #000000;
}

.menu-btn {
  --bs-btn-color: #ffffff !important;
  --bs-btn-bg: rgba(255, 255, 255, 0) !important;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #3d3d3d00;
  --bs-btn-hover-border-color: #ffffff;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #ffffff;
  --bs-btn-active-bg: #1f1f1f;
  --bs-btn-active-border-color: #ffffff;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.overlay-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay-text {
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  text-align: center;
  padding-bottom: -10;
}

.large-text {
  font-size: 11vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  white-space: nowrap;
  font-style: bold;
}
.small-text {
  font-size: 3vw;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, 130%);
  white-space: nowrap;
}

.table {
  background-color: rgb(44, 44, 44);
}

.table-success-deep {
  background-color: #006400;
  color: white !important;
}

.table-danger-deep {
  background-color: #8b0000;
  color: white !important;
}

table.table tbody tr.table-success-deep {
  background-color: #005600 !important;
  color: white !important;
}

table.table tbody tr.table-danger-deep {
  background-color: #7e0000 !important;
  color: white !important;
}

.text-table {
  font-size: 2vh;

  font-family: monospace;
}

.white {
  color: white;
}

.itemsButton {
  border: none;
  padding: 0;
  background: none;
  margin: 0%;
}

.searchBoxes {
  width: 100px;
  height: 40px;
}

.search-btn {
  --bs-btn-bg: #2a9d8f;
  --bs-btn-border-color: #2a9d8f;

  --bs-btn-hover-bg: #21867a;
  --bs-btn-hover-border-color: #21867a;

  --bs-btn-active-bg: #1e766b;
  --bs-btn-active-border-color: #1e766b;

  --bs-btn-color: white;
}
