body,
html {
  overflow-x: hidden;
  margin: 0;
}

.app-root {
  min-height: 100vh;
}

.app-header {
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-bottom: 25px;
}

.app-header-left {
  display: flex;
  align-items: center;
}

.app-header-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.center-div {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-family: monospace;
}

.nav-item {
  font-weight: bold;
  color: #000000;
}

.menu-btn {
  --bs-btn-color: #ffffff !important;
  --bs-btn-bg: rgba(255, 255, 255, 0) !important;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #3d3d3d00;
  --bs-btn-hover-border-color: #ffffff;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #ffffff;
  --bs-btn-active-bg: #1f1f1f;
  --bs-btn-active-border-color: #ffffff;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.overlay-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay-text {
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  text-align: center;
  padding-bottom: -10;
}

.large-text {
  font-size: 11vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  white-space: nowrap;
  font-style: bold;
}
.small-text {
  font-size: 3vw;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, 130%);
  white-space: nowrap;
}

.table {
  background-color: rgb(44, 44, 44);
}

.text-table {
  font-size: 2vh;
  font-family: monospace;
}

.profile-text {
  color: white;
  font-family: monospace;
}

.profile-zombie {
  padding: 5px;
  background-color: #1ca500;
  box-shadow: 0px 0px 15px 0px #00ff33;
}

.profile-human {
  padding: 5px;
  background-color: #eb4600;
  box-shadow: 0px 0px 15px 0px #ec2d02;
}

.profile-oz {
  padding: 5px;
  background-color: rgb(242, 247, 0);
  box-shadow: 0px 0px 15px 0px #d9ff00;
}

.profile-mod {
  padding: 5px;
  background-color: rgb(0, 225, 255);
  box-shadow: 0px 0px 15px 0px #00a2ff;
}

.profile-cam-chair {
  padding: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 15px 0px #e8e8e8;
}

.clickable-row {
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.itemsButton {
  border: none;
  padding: 0;
  background: none;
  margin: 0%;
}

.searchBoxes {
  width: 100px;
  height: 40px;
}

.search-btn {
  --bs-btn-bg: #2a9d8f;
  --bs-btn-border-color: #2a9d8f;

  --bs-btn-hover-bg: #21867a;
  --bs-btn-hover-border-color: #21867a;

  --bs-btn-active-bg: #1e766b;
  --bs-btn-active-border-color: #1e766b;

  --bs-btn-color: white;
}

.tooltip-inner {
  background-color: #ffffff !important;
  color: #000000 !important;
  border: 1px solid #000000;
  font-family: monospace;
  font-size: small;
  box-shadow: 0px 0px 15px 0px #ffffff;
}

.tooltip {
  --bs-tooltip-opacity: 1;
}

.tooltip .tooltip-arrow::before {
  border-top-color: #1b1b1b !important;
  border-bottom-color: #ffffff !important;
}

.profile-element {
  background-color: black !important;
  border-radius: 10px;
  font-size: 1.7vh;
  margin-bottom: 5px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 20vh;
  min-width: 150px;
  width: auto;
  max-width: 375px !important;
}

.profile-element-row {
  background-color: black !important;
  border-radius: 10px;
  font-size: 1.7vh;
  margin-bottom: 5px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 20vh;
  min-width: 150px;
  max-width: 175px !important;
}

.badge-glow {
  background: radial-gradient(
    #ffffff 30%,

    #00000000 85%
  );
}
